*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{

}

header{
    width: 100%;

    background-color: black;

    // backdrop-filter: blur(20px);

    padding: 10px 20px;

    position: fixed;
    top: 0;
    z-index: 999;
}
.navbar{
    max-width: 95%;
    // border: 1px solid red;
    margin: 0 auto;

    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 50px;
    text-align: center;
    img{
        width: 100%;
    }
}
.Btn-Menu{
    width: 40px;
    height: 40px;

    background-color: transparent;
    border-radius: 5px;
    border: 0;
    // border: solid 1px white;

    position: relative;
    cursor: pointer;

    display: none;

}
.Btn-Menu::after{
    content: '';

    position: absolute;
    top: 30%;
    left: 15%;

    width: 70%;
    height: 10%;
    border-radius: 20px;

    background-color: #ffffff;

    transition: .5s ease;
}
.Btn-Menu::before{
    content: '';

    position: absolute;
    top: 60%;
    left: 45%;

    width: 40%;
    height: 10%;
    border-radius: 20px;

    background-color: #ffffff;

    transition: .5s ease;
}
#Btn-Menu:checked ~ label .Btn-Menu:after{
    // background-color: blueviolet;
    transform: rotate(225deg);

    top: 45%;
    left: 15%;
}
#Btn-Menu:checked ~ label .Btn-Menu:before{
    // background-color: blueviolet;
    transform: rotate(-400deg);

    width: 70%;

    top: 45%;
    left: 15%;
}
.menu{
    list-style: none;

    display: flex;
    align-items: center;
    li{
        margin-left: 10px;
        a{
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: #ffffff;
            font-size: 20px;
            transition: 0.5s ease;
            &:hover{
                color: #636363;
            }
        }
    }
}

@media screen and (max-width: 980px){
    .Btn-Menu{
        display: block;
        z-index: 999;
    }
    .menu{
        position: fixed;
        top: 0;
        right: 0;
    
        height: 100vh;
        margin: 0;
        
        background-color: rgba(17, 17, 17, 0.8);
        backdrop-filter: blur(20px);

        width: 100%;
        max-width: 250px;

        padding: 100px 20px;

        flex-direction: column;

        transition: .5s ease;
    }
    .menu.active{
        right: -100%;
    }
}


.banner{
    width: 100%;
    height: 50vh;
    background-color: darkcyan;
    // img{}
}

.new-information{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.new-information .news{
    margin: 10px;
    width: 50%;
    height: 100%;
    text-align: center;
    color: black;
    padding: 20px;
}
.new-information .intro{
    margin: 10px;
    width: 50%;
    height: 100%;
}
@media screen and (max-width: 980px){
    .new-information{
       flex-direction: column;
    }
    .new-information .news{
        
        width: 100%;
        height: 100%;
        
    }
    .new-information .intro{
        
        width: 100%;
        height: 100%;
        
    }
}
.tabPanel{
    display: none;
}


.buttonContainer{
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
}
.buttons{
    // border: 1px solid rgb(255, 0, 0);
    max-width: 95%;
    margin: 0 auto;

    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttonContainer button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 20px;
    transition: .5s ease;
    // background-color: red;
    &:hover{
        color: #636363;
    }
}
@media screen and (max-width: 980px){
    .buttons{
        flex-direction: column;
    }
}